{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}

	<div class="container col-md-6 col-sm-12 my-5">
		<div class="d-flex align-items-center ">
			<img src="../images/AphroditesLogo.png" alt="logo Aphrodites">
			<h2>Aphrodites</h2>
		</div>
		<ul>
			<li>
				<h4>Le but est de sensibiliser les jeunes adultes (mais aussi les plus âgés) aux problématiques liées à la santé sexuelle.</h4>
			</li>
			<li>
				<h4>Application réalisée avec Symfony 6 et Bootstrap le vendredi 2 décembre de 16h à 8h le lendemain, dans le cadre de la nuit de l'info.</h4>
			</li>

			<li>
				<h4>Notre équipe :</h4>
				<img src="../images/equipe.png" alt="equipe" style="height:30rem">
			</li>
			<li>
				<a href="https://www.nuitdelinfo.com/MA35U6z262hXyaCd/La_Nuit_de_l_Info_2022_-_Sujet.pdf">Sujet de la nuit de l'info</a>
			</li>
			<a href="{{path('home')}}">Back home</a>
		</xmp>
	</li>
</ul></div>{% endblock %}
